.inicio {
    max-width: 30rem;
    max-height: 200rem;
    margin: auto;
    padding: 0;

    background-color: rgb(0, 0, 0);
}

*{
    
        font-family: "Poppins", sans-serif;
       
      
}

html {
    color: rgb(243, 243, 243);
}


/*  <div class="Play">
            <img src="img/play.png" alt="" width="100px">
        </div>
        <div class="List"> 
            <img src="img/mylist.jpg" alt="" width="120px">
        </div>
        
        <nav class="season">
          <h2>SEASON</h2>
        </nav>   
    </div>

    <div class="episodios">
        <div class="episodio1">
            <div>
                <img src="img/primeraimgbts.jpg" alt="" width="170px">
            </div>
            <div class="img1bts">
                
                <p>Lorem ipsum dolor, sit amet consectetur      
            </div>
            <div class="ABOUT">
                <h1>0.1 ABOUT ME</h1>
            </div>
        </div> */